<h3><%= @team.city + ' ' + @team.name %></h3>
<p>City or State: <%= @team.city %><p>
<p>Original Six Team: <%= @team.original_six_team %><p>
<p>Stanley Cups: <%= @team.number_of_stanley_cups %><p> 
<p><%= link_to "Players", "/teams/#{@team.id}/players" %>
: <%= @team.player_count %><p>