<h2><%="#{@team.name}"%> Players </h2>
<%= link_to "Sort Alphabetically", "/teams/#{@team.id}/players?alphabetize=true" %>
<br>
<br>
<%= link_to "Create Player", "/teams/#{@team.id}/players/new" %>


<% @players.each do |player| %>
  <h3><%= player.name %> // <%= link_to "Update #{player.name}", "/players/#{player.id}/edit" %></h3>
  <p>Jersey Number: <%= player.jersey_number %><p>
  <p>Retired?: <%= player.retired %><p>
  <p><%= link_to "Delete #{player.name}", "/players/#{player.id}/delete"%><p>
  <br>
  <% end %>   

  <%= form_with url: "/teams/#{@team.id}/players", method: :get, local: true do |form| %>
  <%= form.label :jersey_number, "Search by Jersey Number" %>
  <%= form.text_field :jersey_number, required: true %>
  <%= form.submit "Only return players with a higher jersey number" %>
  <% end %>
  