<h2><%="#{@team.name}"%> Players </h2>

<% @players.each do |player| %>
  <h3><%= player.name %> // <%= link_to "Update #{player.name}", "/players/#{player.id}/edit" %></h3>
  <p>Jersey Number: <%= player.jersey_number %><p>
  <p>Retired?: <%= player.retired %><p>
  <p><%= link_to "Delete #{player.name}", "/players/#{player.id}/delete"%><p>
  <br>
<% end %> 
<br>
<%= link_to "Create Player", "/teams/#{@team.id}/players/new" %>
<br><br>
<%= link_to "Sort Alphabetically", "/teams/#{@team.id}/players?alphabetize=true" %>

