<h2>Active Players</h2>
<% @players.each do |player| %>
  <h4><%= player.name %> // <%= link_to "Update #{player.name}", "/players/#{player.id}/edit" %></h4>
  <p>Jersey Number: <%= player.jersey_number %><p>
  <p>Retired?: <%= player.retired %><p>
  <p>Team: <%= player.team.city %>  <%=player.team.name %><p>
<% end %> 